@import 'partials/variables';
@import 'partials/mixins';


:root {
    --main-font: $main-font;
}

@font-face {
    font-family: $main-font;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (min-width: 992px) {

    img[src$='main.jpg'] {
        width: $image-large;
        height: $image-large;
    }

    img[src$='side.jpg'] {
        @include small-image-dimensions();
    }

    img[src$='side3.jpg'] {
        @include small-image-dimensions();
    }

}

body {
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 0.20rem;
}

.btn-apply-filter {
    transform: translateY(-7px);
}

div.container {
    margin-top: 30px;
    position: relative;

    &>nav {
        margin: 10px 0 10px 0;

        &>a {
            font-family: var(--main-font);
            font-size: 18px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-transform: uppercase;
            letter-spacing: 1.43px;
            color: $gray-main;
            transition: color 0.55s ease-in-out;
            font-size: 22px;
            line-height: 1;
            -webkit-text-size-adjust: none;
            letter-spacing: 1.8px;
            -moz-text-side-adjust: none;
            font-weight: normal;

            &:hover, &:active {
                color: $gray-dark;
                text-decoration: none;
            }            
        }        
    }    
}

.visible {
    display: block !important;
}

div#filter-container {
    box-shadow: 3px 3px 9px $filter-container-shadow;
    position: absolute;
    top: 36px;
    z-index: 1000;
    left: 15px;
    width: calc(100% - 30px);
    top: calc(0% + 36px);
    background-color: $filter-container;
    opacity: 0.9;
    min-height: 250px;
    display: none;

    section {
        flex-direction: column;
        display: flex;
        width: 100%;
        
        &>ul {
            list-style: none;
            padding-top: 10px;
        }   
    }    

    ul {
        padding-left: 15px;
        display: flex;
        flex-direction: column;

        li {
            margin: 0 20px 0 20px;

            &:last-child {
                padding-right: 15px;
            }

            a {
                font-family: var(--main-font);
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-transform: uppercase;
                letter-spacing: 1.43px;
                transition: color 0.4s ease-in-out;
                font-weight: normal;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
                color: $filter-section-name;
                line-height: 1;
                -webkit-text-size-adjust: none;
                letter-spacing: 1.8px;
                -moz-text-side-adjust: none;
                font-weight: normal;

                &:hover {
                    color: $gray-dark;
                }
            }            
        }
    }
    
    button {
        margin: 10px;
    }    

    a {
        color: lime;
        transition: color 0.55s ease-in-out;
    
        &:hover {
            text-decoration: none;
            color: #222324;
        }
    }    
}

div.roundedTwo {
    display: flex;
    align-items: first baseline;
    width: 200px;
}

input#roundedTwo {
    margin-right: 05px;
    order: -1;
}

@media (min-width: 992px) {
    div#filter-container {
        width: calc(100% - 50px);
    }
}

@media (min-width: 1199px) {
    div#filter-container {
        width: calc(100% - 125px);
    }
}

.cbx {
    -webkit-perspective: 20;
    perspective: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;

    &:hover {
        border-color: $blue;
    }
}

.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}

#cbx:checked+.cbx {
    border-color: $blue;
}

#cbx:checked+.cbx .flip {
    transform: rotateY(180deg);
}

.visible {
    display: flex;
}

.fa-plus-circle::before {
    font-size: 14px;
}

ul.checkbox-list {
    display: none !important;
    position: relative;
    zoom: 1;
    
    li {
        display: flex;

        &>div.roundedTwo p {
            font-size: 14px;
        }        
    }

    &.active {
        display: flex;
        flex-direction: column;
    }
}

.active {
    display: flex !important;
}

.not-active {
    display: none;
}

.show-checkbox {
    display: flex !important;
}

a[id^='attr'] {
    text-decoration: none;
    color: #333;
}

ul {
    
    ul {
        display: none;
        
        &>li {
            display: flex;
            flex-direction: row;
        }
    }

    li {
        list-style: none;
    }
    

}

