/* Colors */
$gray-light: #eee;
$gray-main: #65676a;
$gray-dark: #1e1f20;
$blue: #0b76ef;
$white: #fff;

/* Components */
$filter-container: $gray-light;
$filter-section-name: $gray-main;
$filter-container-shadow: rgba(0, 0, 0, 0.14);

/* Fonts */
$main-font: 'Open Sans';

/* Dimensions */
$image-large: 700px;